<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>


<ol id="blah">

    <% for(i of footwear)
    {%>
    <li>
        <%=i.f_id%>

        <%=i.article_no%>



        <button name="Edit" onclick="window.location.href='http://localhost:3456/api/footwear/edit_footwear/<%=i.f_id%>'">Edit </button>
        <button name="Delete" onclick="window.location.href='http://localhost:3456/api/footwear/delete_footwear/<%=i.f_id%>'">X</button>
        <button name="Add_quanity" onclick="window.location.href='http://localhost:3456/api/footwear/add/<%=i.f_id%>'">+</button>
        <button name="Add_quanity" onclick="window.location.href='http://localhost:3456/api/footwear/del/<%=i.f_id%>'">-</button>
    </li>
    <%
    }
    %>
    %>

</ol>


<button name="Add_new" onclick="window.location.href='http://localhost:3456/api/footwear/new_footwear'">Add new </button>


</body>
</html>
